<!DOCTYPE html>
<html>
<title>Add your recipe</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<meta charset="utf-8">
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body >

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.color_black {
	 background-color: black;


}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 200px;
  bottom: 0;
  height: inherit;
}

.collapsible {
  background-color: #244;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #111;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}


.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}



.form-container {
  max-width: 300px;
  padding: 10px;
}

div {
  background-color: white;
}


.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.register {
    background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: 1px;
  cursor: pointer;
  width: 10%;
  margin-bottom:10px;
  opacity: 0.8;


}

.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.box1 {
background-color: #eee;

}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}

</style>


<div class="w3-sidebar w3-bar-block w3-card" style="width:15%;right:0;">
  <h3 class="w3-bar-item">List of chosen ingredients</h3>

    <a class="w3-bar-item w3-container w3-hover-black box1" id="additionalServices" >Add your first ingredient </a>
    {% for key, value in result.items() %}
    <br><br>
    <a> Do you have recipes include:</a>
    {% for k in value %}
    <a class="w3-bar-item w3-container w3-hover-black box1" >{{k}}</a>
    {% endfor %}
    {% endfor %}
</div>


<div class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>

</div>


<div class="w3-row w3-padding w3-theme w3-medium ">
<div class="w3-bar w3-white w3-padding w3-card " style="letter-spacing:4px;">
  <div class="w3-quarter ">
    <div class="w3-bar">

      <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-xlarge">Nubility Mealmatch</a>

    </div>
  </div>

  <div class="w3-half">
    <input type="text" class="w3-amber1 w3-border-1 w3-padding" style="width:100%">
  </div>

  <div class="w3-quarter">
    <div class=" w3-bar w3-xlarge">

      <a href="{{ url_for('Search') }}" class="w3-bar-item w3-button w3-left"><i class="fa fa-search"></i></a>
      <a href="{{ url_for('Register') }}" class="w3-button w3-black w3-padding-small w3-small w3-medium">REGISTER</a>
      {% if session['email'] is not defined or session['email'] is none%}
      <a href="{{ url_for('Login') }}" class="w3-button w3-black w3-padding-small w3-small w3-medium">LOGIN</a>
        {% endif %}
      {% if session['email'] is not none%}
      <a href="{{ url_for('Logout') }}" class="w3-button w3-black w3-padding-small w3-small w3-medium">LOGOUT</a>
        {% endif %}

        <p>

          {{email}}
          {% if session['email'] is defined and session['email'] is not none%}
          Welcome, {{session['email']}}
          {% endif %}
      <a href="#" class="w3-bar-item w3-button w3-right" onclick="openForm()" >

      <img class="w3-hide-small w3-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTr6goZK1uUAAowZoFE_RE3wnJb0tM43Nan2g&usqp=CAU" style="height:40px;"></a>
    </div>

  </div>


</div>





<div class="w3-row-padding w3-theme">


  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1">




<body>






<body ng-app="">
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center"> Create your own recipe</h3>

    <div ng-if="myVar">

<p>Here are your recipes!</p>


</div>


<form action="/add">
 <div class="w3-content" id="portfolio">
          <a><em>Your Email is  {{session['email']}}&nbsp;  </em></a><br><br>

          <a><em>Name of the recipe  &nbsp;  </em></a>
          <p><input type="text" id="Name1" name="name"  placeholder="Name" required></p>
            <a><em>Cooking time for the recipe  &nbsp;  </em></a>
          <p><input type="text"id="cookingTime" name="cooking_time"  placeholder="cooking time" required></p>


      </div>




<div class="w3-content" id="portfolio">
  <a><em>Choose the type of the recipe   &nbsp;  </em></a>

  <input type="checkbox" id="vehicle1" name="type" value="Breakfast">
  <label for="Breakfast"> Breakfast &nbsp; </label>

  <input type="checkbox" id="vehicle2" name="type" value="Lunch">
  <label for="Lunch"> Lunch &nbsp; </label>


  <input type="checkbox" id="vehicle3" name="type" value="Dinner">
  <label for="Dinner"> Dinner &nbsp;</label>

  <input type="checkbox" id="vehicle4" name="type" value="Dessert">
  <label for="Dessert"> Dessert &nbsp;</label>

  <input type="checkbox" id="vehicle5" name="type" value="Main">
  <label for="Main"> Main &nbsp;</label>

  <input type="checkbox" id="vehicle6" name="type" value="Entree">
  <label for="Entree"> Entree &nbsp;</label>




</div>

  <a><em>Choose the ingredients   &nbsp;  </em></a>
  <p></p>

<button type="button" class="collapsible">Diary</button>
<div class="content">

  <br>
  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" ng-model="myVar" ng-init="myVar = false" id="v1" name="v1" value="milk">
  <label class="custom-control-label" for="v1"> milk</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="v2" name="v2" value="egg">
  <label class="custom-control-label" for="v2"> egg</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="v3" name="v3" value="butter">
  <label class="custom-control-label" for="v3"> butter</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="v4" name="v4" value="ice_cream">
  <label class="custom-control-label" for="v4"> ice cream</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
    <input class="custom-control-input" type="checkbox" id="v5" name="v5" value="cheese">
    <label class="custom-control-label" for="v5"> cheese</label><br>
    </div>

  <div class="custom-control custom-checkbox mb-3">
    <input class="custom-control-input" type="checkbox" id="v6" name="v6" value="yogurt">
    <label class="custom-control-label" for="v6"> yogurt</label><br>
    </div>

  <div class="custom-control custom-checkbox mb-3">
    <input class="custom-control-input" type="checkbox" id="v7" name="v7" value="cream">
    <label class="custom-control-label" for="v7"> cream</label><br>
    </div>

</div>
<p></p>


<button type="button" class="collapsible">Vegetables</button>
<div class="content">

  <br>
  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="D1" name="D1" value="lettuce">
  <label class="custom-control-label" for="D1"> lettuce</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D2" name="D2" value="mushroom">
  <label class="custom-control-label" for="D2"> mushroom</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D3" name="D3" value="onion">
  <label class="custom-control-label" for="D3"> onion</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D4" name="D4" value="beans">
  <label class="custom-control-label" for="D4"> beans</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D5" name="D5" value="broccolini">
  <label class="custom-control-label" for="D5"> broccolini</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D6" name="D6" value="potato">
  <label class="custom-control-label" for="D6"> potato</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D7" name="D7" value="carrot">
  <label class="custom-control-label" for="D7"> carrot</label><br>
  </div>
  
  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D8" name="D8" value="garlic">
  <label class="custom-control-label" for="D8"> garlic</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D9" name="D9" value="tomato">
  <label class="custom-control-label" for="D9"> tomato</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D10" name="D10" value="ginger">
  <label class="custom-control-label" for="D10"> ginger</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D11" name="D11" value="spinach">
  <label class="custom-control-label" for="D11"> spinach</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D12" name="D12" value="cucumber">
  <label class="custom-control-label" for="D12"> cucumber</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D13" name="D13" value="cabbage">
  <label class="custom-control-label" for="D13"> cabbage</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D14" name="D14" value="corn">
  <label class="custom-control-label" for="D14"> corn</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D15" name="D15" value="olive">
  <label class="custom-control-label" for="D15"> olive</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="D16" name="D16" value="pumpkin">
  <label class="custom-control-label" for="D16"> pumpkin</label><br>
  </div>
  
</div>

  <p></p>

<button type="button" class="collapsible">Fruits</button>
<div class="content">


  <br>
  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="F1" name="F1" value="lemon">
  <label class="custom-control-label" for="F1"> lemon</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F2" name="F2" value="peach">
  <label class="custom-control-label" for="F2"> peach</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F3" name="F3" value="avocado">
  <label class="custom-control-label" for="F3"> avocado</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="F4" name="F4" value="apple">
  <label class="custom-control-label" for="F4"> apple</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F5" name="F5" value="banana">
  <label class="custom-control-label" for="F5"> banana</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F6" name="F6" value="lime">
  <label class="custom-control-label" for="F6"> lime</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="F7" name="F7" value="strawberry">
  <label class="custom-control-label" for="F7"> strawberry</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F8" name="F8" value="orange">
  <label class="custom-control-label" for="F8"> orange</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F9" name="F9" value="pineapple">
  <label class="custom-control-label" for="F9"> pineapple</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="F10" name="F10" value="blueberry">
  <label class="custom-control-label" for="F10"> blueberry</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F11" name="F11" value="coconut">
  <label class="custom-control-label" for="F11"> coconut</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F12" name="F12" value="grape">
  <label class="custom-control-label" for="F12"> grape</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="F13" name="F13" value="mango">
  <label class="custom-control-label" for="F13"> mango</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F14" name="F14" value="pear">
  <label class="custom-control-label" for="F14"> pear</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="F15" name="F15" value="watermelon">
  <label class="custom-control-label" for="F15"> watermelon</label><br>
  </div>
 </div>

 <p></p>


<button type="button" class="collapsible">Meats & Seafoods</button>
<div class="content">


  <br>
  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="M1" name="M1" value="salmon">
  <label class="custom-control-label" for="M1"> salmon</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M2" name="M2" value="bacon">
  <label class="custom-control-label" for="M2"> bacon</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M3" name="M3" value="chicken">
  <label class="custom-control-label" for="M3"> chicken</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M4" name="M4" value="turkey">
  <label class="custom-control-label" for="M4"> turkey</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M5" name="M5" value="beef">
  <label class="custom-control-label" for="M5"> beef</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="M6" name="M6" value="sausage">
  <label class="custom-control-label" for="M6"> sausage</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M7" name="M7" value="ham">
  <label class="custom-control-label" for="M7"> ham</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M8" name="M8" value="pork">
  <label class="custom-control-label" for="M8"> pork</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M9" name="M9" value="chicken_leg">
  <label class="custom-control-label" for="M9"> chicken leg</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M10" name="M10" value="chicken_wings">
  <label class="custom-control-label" for="M10"> chicken wings</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="M11" name="M11" value="lamb">
  <label class="custom-control-label" for="M11"> lamb</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M12" name="M12" value="duck">
  <label class="custom-control-label" for="M12"> duck</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M13" name="M13" value="tuna">
  <label class="custom-control-label" for="M13"> tuna</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M14" name="M14" value="trout">
  <label class="custom-control-label" for="M14"> trout</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="M15" name="M15" value="shrimp">
  <label class="custom-control-label" for="M15"> shrimp</label><br>
  </div>
 </div>

 <p></p>

 <button type="button" class="collapsible">Baking & Grains</button>
<div class="content">

  <br>
  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="P1" name="P1" value="spaghetti">
  <label class="custom-control-label" for="P1"> spaghetti</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="P2" name="P2" value="rice">
  <label class="custom-control-label" for="P2"> rice</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="P3" name="P3" value="flour">
  <label class="custom-control-label" for="P3"> flour</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="P4" name="P4" value="bread">
  <label class="custom-control-label" for="P4"> bread</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="P5" name="P5" value="oats">
  <label class="custom-control-label" for="P5"> oats</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="P6" name="P6" value="noodle">
  <label class="custom-control-label" for="P6"> noodle</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="P7" name="P7" value="ramen">
  <label class="custom-control-label" for="P7"> ramen</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="P8" name="P8" value="cereal">
  <label class="custom-control-label" for="P8"> cereal</label><br>
  </div>

  <div class="custom-control custom-checkbox mb-3" class="w3-quarter">
  <input class="custom-control-input" type="checkbox" id="P9" name="P9" value="baking_soda">
  <label class="custom-control-label" for="P9"> baking soda</label>
  </div>

  <div class="custom-control custom-checkbox mb-3">
  <input class="custom-control-input" type="checkbox" id="P10" name="P10" value="baking_powder">
  <label class="custom-control-label" for="P10"> baking powder</label><br>
  </div>
  <p></p>

 </div>

            <a><em>Hints for the recipe  &nbsp;  </em></a>
          <p><textarea cols = '100' rows = '20' type="text"id="Hints" name="hints"  placeholder="hints" required></textarea></p>
            <a><em>Url for picture(optional)  &nbsp;  </em></a>
          <p><input type="text"id="url" name="url"  placeholder="url" ></p>
          <br>
<br>
<br> <br>
<button type="submit" class=" w3-button w3-block w3-black ">Send</button>

</form>


</div>

</body>






<div class="w3-container w3-theme-d4">
<p class="w3-large">Nubility</p>
</div>


<footer class="w3-container w3-dark-grey" style="padding:32px">
  <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
</footer>

<script>

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";

}

function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

</script>

    <script type="text/javascript">



$('input[type="checkbox"]').bind('change', function() {
    var alsoInterested = '';
    $('input[type="checkbox"]').each(function(index, value) {
        if (this.checked) {

            alsoInterested += ($('label[for="'+this.name+'"]').html() + ', ');
        }
    });
    if (alsoInterested.length > 0) {
        alsoInterested = 'I have chosen: ' + alsoInterested.substring(0,alsoInterested.length-2) + '.';
    } else {
        alsoInterested = 'Nothing in list.';
    }

    $('#additionalServices').html(alsoInterested);
});


  </script>




</body>
</html>
